.container {
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  height: 50px;
  border-bottom: 1.5px solid #e7e7e7;
  background-color: white;
}

.notice {
  position: fixed;
  z-index: 1;
  width: 61.5%;
  height: 70px;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 0 0 10px 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice.hide {
  height: 0;
}

.notice p {
  font-size: 18px;
}
.notice button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.notice button:hover {
  background-color: #ff8c8c !important;
}
