.container {
  z-index: 9;
}
.modalWrapper {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 71%);
  display: flex;
  justify-content: center;
}
.modal {
  display: flex;
  flex-direction: column;
  width: 920px;
  height: 560px;
  background-color: #e0e0e0;
  position: absolute;
  top: 120px;
  border-radius: 10px;
  box-sizing: border-box;
  animation: fadeIn 400ms;
}

.top {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  /* margin: 4px; */
  /* flex-basis: 100px; */
}

.title {
  display: flex;
  margin: 8px 12px 8px 24px;
  font-size: 24px;
  font-weight: bold;
}

.dateSelector {
  justify-self: center;
  margin: 8px 32px;
}

.year,
.month {
  font-size: 16px;
}

.modal .top button:hover {
  background-color: #707070 !important;
}
.close {
  width: 32px;
  /* margin-left: 364px; */
  /* flex-basis: 100px; */
  margin-right: 24px;
  cursor: pointer;
}
.modal .contents {
  width: 880px;
  height: 480px;
  margin: auto;
  margin-top: 0;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #707070;
}

.modal .contents .chart {
  width: 720px;
  height: 360px;
  margin: auto;
}
.modal .contents .time {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  position: relative;
}

.avgStudyTime {
  font-size: 24px;
}

.modal .contents .time p {
  font-size: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .modal {
    width: 100%;
  }
  .modal .contents {
    width: 95%;
  }

  .modal .contents .chart {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .modal {
    height: 400px;
  }
  .modal .contents {
    height: 340px;
  }
  .modal .contents .chart {
    width: 90%;
    height: 72%;
  }
  .modal .contents .time {
    justify-content: flex-start;
  }
}
