.videos {
  display: flex;
  gap: 10px;
}
.video {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid greenyellow;
  background-color: rgb(151, 149, 149);
}

.menuList {
  /* display: none; */
  border-radius: 5px;
  background: white;
  position: absolute;
  margin: 8px;
}

.menuList > li {
  margin: 8px;
  cursor: pointer;
}

.menuList > li:hover {
  background: skyblue;
}
.name {
  position: absolute;
  top: 80px;
}
