.container {
  margin-top: 30px;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: -40px;
}
.img {
  width: 80%;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
