.home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #eaabab 0%, #fff 100%);
}

.home p {
  width: fit-content;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: auto;
  padding-top: 180px;
}
