.li {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  gap: 16px;
  width: 100%;
  font-size: 32px;
  background: rgb(195, 44, 109);
  border: 1px solid rgb(210, 210, 183);
  /* align-items: center; */
}
