.li {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  gap: 16px;
  width: 100%;
  font-size: 32px;
  background: #ddc365;
  border: 1px solid rgb(243, 182, 182);
  /* align-items: center; */
}
