.container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.text {
  width: 65%;
  display: flex;
  position: relative;
}
.text input {
  border: 1px solid #383838;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  height: 30px;
  margin-left: 5%;
}
.text input:focus {
  outline: none;
  border: 2px solid #ff8888;
}
.text img {
  width: 28px;
  position: absolute;
  top: 2px;
  right: 4px;
  filter: invert(19%) sepia(13%) saturate(6%) hue-rotate(33deg) brightness(92%)
    contrast(87%);
}
.btn {
  width: 150px;
}
.btn button {
  margin-right: 30px;
}
.btn button:hover {
  background-color: #ff8888 !important;
}
