.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  background-color: aqua;
}

.videoWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.videos {
  display: flex;
  gap: 10px;
}

.name {
  position: absolute;
  top: 80px;
}
