.screen {
  padding-bottom: 5vw;
  width: 63.75vw;
  z-index: 1;
  background-color: aqua;
}

.videoWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.videos {
  display: flex;
  gap: 10px;
}
.video {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid greenyellow;
  background-color: rgb(151, 149, 149);
}

.name {
  position: absolute;
  top: 80px;
}
