.menu {
  display: flex;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  background-color: #eaabab;
  padding: 8px;
}

.controller {
  display: flex;
}

.studyTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  color: #ffffff;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
