.header {
  background-color: #eaabab;
  height: 70px;
  display: flex;
  align-items: center;
  @media (max-width: 900px) {
    justify-content: space-evenly;
  }
}
.item {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: flex;
}

.item:nth-child(1) {
  flex-grow: 1;
  @media (max-width: 900px) {
    flex-grow: 0;
    width: 40%;
  }
}
.item:nth-child(1) p {
  margin-left: 20px;
  @media (max-width: 900px) {
    margin: 0;
  }
}

.item:not(:nth-child(1)) {
  white-space: nowrap;
  flex-basis: 12%;
  justify-content: center;
}

.refresh img {
  margin-top: 3px;
  width: 38px;
  height: 38px;
  filter: invert(19%) sepia(13%) saturate(6%) hue-rotate(33deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
  transition: 0.3s;
}
.refresh img:hover {
  transform: rotate(270deg);
}
