.sidebar {
  width: 18%;
  background-color: #bc6a6a;
  display: flex;
  flex-direction: column;
}

.hiddenCheck {
  display: none;
}

.check {
  display: none;
}

.frame {
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.frame::-webkit-scrollbar {
  width: 6px;
}
.frame::-webkit-scrollbar-thumb {
  background-color: #c03c3c;
}

@media (max-width: 900px) {
  .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0 0 0 -250px;
  }
  .check {
    display: block;
    position: fixed;
    z-index: 3;
    top: 72px;
    left: 8px;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 8px;
  }
  .hiddenCheck:checked ~ .sidebar {
    margin-left: 0;
  }
  .hiddenCheck:checked ~ .check {
    left: 256px;
    background-color: whitesmoke;
  }

  .obfuscator {
    visibility: hidden;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .hiddenCheck:checked ~ .obfuscator {
    visibility: visible;
    pointer-events: auto;
    opacity: 0.5;
    background: #111;
    margin-left: 250px;
    z-index: 2;
  }
}
