.info {
  width: 80%;
}
.info .name {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.info .id {
  margin-top: 10px;
  color: #272727;
  font-size: 22px;
  font-weight: 700;
}
