.info {
  position: absolute;
  top: 38vh;
}
.info .name {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.info .id {
  margin-top: 10px;
  color: #000;
  font-size: 26px;
  font-weight: 700;
}
