.container {
  position: absolute;
  bottom: 8em;
}
.studyText {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
}
.studyTime {
  margin-top: 10px;
  font-size: 60px;
  color: #fff;
}
